# ignore unreleased code
#Function/Get-AHPolicyAssignment.ps1
#Functions/Get-AHVMBackupStatus.ps1
Functions/Copy-AHToAzure.ps1
Functions/Get-AHGUIInput.ps1
Funcitons/RegulationTest.json
Functions/Get-AHContextToken.ps1
Functions/RequestAHJITVMAccess.ps1
#Functions/Get-AHBackedUpVMs.ps1
#Functions/Remove-AHVirtualMachine.ps1
#Functions/Remove-AHVM.ps1
Functions/Get-AHPolicyRSOP.ps1

# ignore crap
crap.ps1
crap.*

# ignore the TestResults
TestResults/*
AssignedPolicyReport.csv